# Core Django and ASGI
Django==5.1.3
asgiref==3.8.1

# Database
psycopg[binary]==3.2.3
dj-database-url==2.2.0

# Production server
gunicorn==23.0.0
whitenoise==6.8.2

# Storage (AWS S3)
django-storages==1.14.4
boto3==1.35.60

# Image handling
Pillow==11.0.0

# Development tools
autopep8==2.3.1
pylint==3.3.2
pylint-django==2.6.1

# Utilities
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
