h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.jumbotron {
    margin-bottom: -20px;
    padding-bottom: 10px;
}

footer,
.navbar-dark {
    background-color: #0c3c26;
}

footer {
    height: 80px;
    padding-top: 20px;
}

footer a {
    color: #64d6a2;
    text-decoration: underline;
}

footer a:hover {
    color: #4db787;
}

footer a:active {
    color: #38996d;
}

#navbarHeader {
    background-color: #11633e;
}