<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Brennan Brown, Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>Brennan's Django Showcase</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Boostrap core JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/favicon-16x16.png' %}">

    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#0c3c26">

    <!-- Custom styles for this template -->
    <script src="https://kit.fontawesome.com/e9dddf84a6.js" crossorigin="anonymous"></script>
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="collapse" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-light">This is a full-stack Django project, with a PostgreSQL database, using
                            Selenium for tests, and deployed in real-time. Under construction.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Options</h4>
                        <ul class="list-unstyled">
                            <li><a href="/admin/" class="text-white">Visit Admin Panel</a></li>
                            <li><a href="https://twitter.com/brennankbrown" class="text-white">Follow on Twitter</a>
                            </li>
                            <li><a href="https://github.com/brennanbrown/django-project" class="text-white">View Source
                                    Code</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg width="32" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <rect x="3" y="3" width="20" height="20" stroke="white" fill="transparent" stroke-width="5" />
                        <circle cx="15" cy="15" r="2" stroke="white" fill="transparent" stroke-width="2" />
                    </svg>
                    <strong>Django Showcase</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron">
            <div class="container">
                <img class="mx-auto d-block" src="{% static 'avatar.png' %}" height="300"
                    alt="Django Logo! Source: https://code.djangoproject.com/attachment/ticket/24953/django-hexbin.png"
                    title="Django Logo!"></img>
                <h1 class="text-center">Brennan's Django Showcase!</h1>

                <!-- NEW BADGES-->
                <p class="text-center">
                    <img alt="GitHub code size in bytes"
                        src="https://img.shields.io/github/languages/code-size/brennanbrown/django-project">

                    <img alt="GitHub repo size"
                        src="https://img.shields.io/github/repo-size/brennanbrown/django-project">

                    <img alt="GitHub top language"
                        src="https://img.shields.io/github/languages/top/brennanbrown/django-project">

                    <img alt="GitHub issues" src="https://img.shields.io/github/issues/brennanbrown/django-project">

                    <img alt="GitHub last commit"
                        src="https://img.shields.io/github/last-commit/brennanbrown/django-project">

                    <img alt="GitHub" src="https://img.shields.io/github/license/brennanbrown/django-project">

                    <img alt="Website"
                        src="https://img.shields.io/website?down_color=red&down_message=Offline%21&label=Status&up_color=darkgreen&up_message=Online%21&url=https%3A%2F%2Fdjango.life">

                    <br />

                    <img alt="GitHub followers"
                        src="https://img.shields.io/github/followers/brennanbrown?label=Follow%20Me%21&style=social">

                    <img alt="GitHub watchers"
                        src="https://img.shields.io/github/watchers/brennanbrown/django-project?label=Watch%21&style=social">

                    <img alt="GitHub stars"
                        src="https://img.shields.io/github/stars/brennanbrown/django-project?label=Star%21&style=social">

                    <img alt="GitHub forks"
                        src="https://img.shields.io/github/forks/brennanbrown/django-project?label=Fork%21&style=social">
                </p>

                <h2 id="about-django">About the Framework</h2>

                <p> Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic
                    design. Built by experienced developers, it takes care of much of the hassle of Web development, so
                    you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
                </p>
                <p> This fan website was built by <a href="https://brennanbrown.ca">Brennan K. Brown</a>, as a way to
                    teach myself how to use Django! As well as introduce people to the framework, in addition to
                    presenting examples of popular websites and apps that currently use it!
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h3> <i class="fas fa-fire-alt"></i> Ridiculously fast.</h3> Django was designed to help
                        developers take applications from concept to completion as quickly as possible. Django
                        includes
                        dozens of extras you can use to handle common Web development tasks. Django takes care of
                        user
                        authentication, content administration, site maps, RSS feeds, and many more tasks — right
                        out of
                        the box.
                    </li>
                    <li class="list-group-item">
                        <h3><i class="fas fa-lock"></i> Reassuringly secure. </h3> Django takes security seriously
                        and
                        helps developers avoid many common security mistakes, such as SQL injection, cross-site
                        scripting, cross-site request forgery and clickjacking. Its user authentication system
                        provides
                        a secure way to manage user accounts and passwords.
                    </li>
                    <li class="list-group-item">
                        <h3><i class="fas fa-stopwatch"></i> Exceedingly scalable.</h3> Some of the busiest sites on
                        the
                        Web leverage Django’s ability to quickly and flexibly scale. Companies, organizations and
                        governments have used Django to build all sorts of things — from content management systems
                        to
                        social networks to scientific computing platforms.
                    </li>
                </ul>

                <hr />
                <p class="text-center">
                    <a href="https://www.djangoproject.com/" class="btn btn-success mr-3">Learn
                        More About Django</a>
                    <a href="https://github.com/brennanbrown" class="btn btn-secondary">Visit my GitHub</a>
                </p>
                <blockquote class="blockquote text-center mt-5">
                    <p class="mb-0">This website is in no way affiliated, endorsed, or condoned by Django Software
                        Foundation and individual contributors. Django is a registered trademark of the Django
                        Software Foundation.</p>
                </blockquote>
            </div>
        </section>

        <div class="album py-5">
            <div class="container">

                <h1 class="text-center font-weight-bold mb-5">Websites that use Django:</h1>

                <div class="row">

                    {% for job in jobs.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a href="{% url 'detail' job.id %}">
                                <img class="card-img-top" src="{{ job.image.url }}" alt="Image of {{ job.title }}"
                                    title="{{ job.title }}">
                            </a>
                            <div class="card-body">
                                <a href="{% url 'detail' job.id %}">
                                    <h2 class="card-title">{{ job.title }}</h2>
                                </a>
                                <p class="card-text">{{ job.summary }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ job.hyperlink}}"><button type="button"
                                                class="btn btn-sm btn-success">View</button></a>
                                    </div>
                                    <small class="text-muted">Created: {{ job.date }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>

    <footer class="text-light">
        <div class="container">
            <span class="float-right"><a href="#"><b>Back to Top ⯅</b></a></span>
            <span class="float-left">&copy; 2022 <a href="https://django.life"><strong>Brennan's Django
                        Life</strong></a> ―
                Powered
                by Snakes! 🐍 | Album Theme by Bootstrap
                <br> Created with ❤️ by Brennan K. Brown | View source code <b><a
                        href="https://github.com/brennanbrown/django-project">here</a></b>.</span>

        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
</body>

</html>